---
layout: layouts/base.njk
permalink: index.html
bodyClass: home-page
---
{% include "sections/hero.njk" %}
{% include "sections/constitution.njk" %}
{% include "sections/protocols.njk" %}
{% include "sections/use-cases.njk" %}
{% include "sections/closing.njk" %}
