---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/whats-new/</loc>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/inference/</loc>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/architecture/</loc>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/guides/provider-sdk/</loc>
    <changefreq>monthly</changefreq>
  </url>
  {% for chapter in almanac.chapters %}
  <url>
    <loc>{{ site.url }}{{ chapter.href }}</loc>
    <changefreq>monthly</changefreq>
  </url>
  {% endfor %}
  {% for guide in deploy.pages %}
  <url>
    <loc>{{ site.url }}{{ guide.href }}</loc>
    <changefreq>monthly</changefreq>
  </url>
  {% endfor %}
</urlset>
